Feedback 04/src/Catalogo.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT tabla (disco+)>
<!ELEMENT disco (titulo, grupo, año?, singles?)>
<!ATTLIST disco formato ( cd | casette | vinilo | mp3 ) #REQUIRED>
<!ATTLIST disco idioma CDATA #IMPLIED>
<!ELEMENT singles (single*)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT grupo (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT single (#PCDATA)>
